@mixin button($color: green, $size: 27px) {
    display: flex;
    width: $size;
    padding: 5px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

@mixin border-radius($radius: 15px) {
    border-radius: $radius;
}

@mixin gradientBackground($direction, $list) {
    background: linear-gradient($direction, $list);
}

@mixin tablet-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: 1025px) {
        @content;
    }
}
