/*font sizes*/
$main_font_size: 18px;

/*colors*/
$mainFontColor: #3b3536;
$whiteColor: #fff;
$closeBtnColor: #333;
$inputBorderColor: #ced4da;
$hoverColor: orangered;
$elementBg: dimgrey;
$modalBodyColor: darkgrey;
$skeletonBg: #e2e2e2;
