@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import 'mixins';
html {
  font-family: 'Open Sans Condensed', sans-serif;
}

button {
  position: relative;
  transition: .5s;
  @include button(#fff);

  &:hover {
    color: orangered;
  }
}

.icon {
  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
  }

  &:before, &:after {
    position: absolute;
    right: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

 * :focus {
  outline: none;
}

input {
  padding: 6px 12px;
  border: solid 1px #ced4da;
}

.label {
  width: 100%;
  background-color: transparent;
}
