@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import 'mixins';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  font-size: $main_font_size;
}

button {
  position: relative;
  transition: .5s;
  @include button($whiteColor);

  &:hover {
    color: $hoverColor;
  }
}

 * :focus {
  outline: none;
}

input {
  padding: 6px 12px;
  border: solid 1px $inputBorderColor;
}

.label {
  width: 100%;
  background-color: transparent;
}
