@import 'variables';
@import 'mixins';

.confirm-popup {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: .3s;
}

.item {
    height: 15px;
    width: 300px;
    background: dimgrey;
    border-radius: 40px;
}

.title {
    color: #3b3536;
}

.modal {
    display: grid;
    position: absolute;
    width: 95%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    transition: .5s;

    @include desktop-up {
        width: 500px;
    }
}

.active {
    opacity: 1;
    visibility: visible;
    z-index: 3;

    .modal {
        top: 40%;
    }
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 25px;
}

.modal-body {
    background: darkgrey;
    color: white;
    padding: 25px;
    width: 100%;
}

.controls {
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    padding: 25px 10px;

    @include desktop-up {
        grid-template-columns: auto auto;
    }
}

.cancel-modal {
    width: 35%;
    color: white;
    padding: 10px 20px;
    background: rgb(211, 59, 33);
    border: solid 2px darkgrey;
    @include border-radius(20px);
    justify-content: center;

    @include desktop-up {
        width: 50%;
        justify-self: start;

        &:hover {
            color: #fff;
        }
    }
}

.confirm-modal {
    width: 35%;
    color: #3b3536;
    padding: 10px 20px;
    border: solid 2px darkgrey;
    @include border-radius(20px);
    justify-content: center;
    transition: .5s;

    @include desktop-up {
        width: 50%;
        justify-self: end;

        &:hover {
            color: #fff;
            background: darkgrey;
        }
    }
}
