@import "variables";
@import "mixins";
@import 'common';
@import 'animations';

.form-container {
  display: flex;
  background: $elementBg;
  color: $whiteColor;
  justify-content: center;
  padding: 30px 0;

  .skeleton {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 12px;
    box-shadow: 9px 17px 45px -29px rgba(0, 0, 0, 0.44);

    &.submit-skeleton {
      width: 100%;
      margin-left: auto;

      @include desktop-up {
        width: 10%;
      }
    }

    .title {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 16px;
      font-weight: 700;

      @include desktop-up {
        padding: 15px 8px;
      }

      &.loading {
        border-radius: 15px;
        overflow: hidden;
      }
    }

    .loading {
      position: relative;
      background-color: $skeletonBg;
      overflow: hidden;

      &:after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateX(-100%);
        background: -webkit-gradient(linear, left top,
                right top, from(transparent),
                color-stop(rgba(255, 255, 255, 0.2)),
                to(transparent));
        background: linear-gradient(90deg, transparent,
                rgba(255, 255, 255, 0.5), transparent);
        animation: loading 2s infinite;
      }
    }
  }

  label {
    width: 100%;
    margin-bottom: 5px;
  }

  input[type="submit"] {
    display: flex;
    width: 40%;
    min-height: 35px;
    font-size: 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: $mainFontColor;
    padding: 10px 20px;
    border: solid 2px darkgrey;
    cursor: pointer;
    @include border-radius(20px);

    @include desktop-up {
      width: 17%;
      min-height: 30px;
      font-size: 14px;
      margin: 10px 3px 0 auto;
    }
  }

  .w-100 {
    width: 100%;
    margin: 0 auto;

    @include desktop-up {
      width: 100%;
    }
  }

  .inline-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;

    @include desktop-up {
      width: 70%;
      margin: 0 auto;
    }
  }

  .form-item {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;

    input {
      height: 35px;
      appearance: none;
      @include border-radius(20px);
    }

    @include desktop-up {
      flex: 1 1 0px;
      margin: 3px;
    }
  }
}
