@import 'variables';
@import 'mixins';

.notes-popup {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: .3s;
}

.modal {
    display: grid;
    position: absolute;
    width: 95%;
    top: 30%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    transition: .5s;

    @include desktop-up {
        width: 500px;
    }
}

.active {
    opacity: 1;
    visibility: visible;
    z-index: 3;

    .modal {
        top: 40%;
    }
}

.title {
    color: #3b3536;
}

.data-head {
    font-weight: 700;
}

.close-modal {
    color: #4158d0;
}

.modal-body {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-gap: 15px;
    color: $mainFontColor;
}

.modal-header {
    color: #4158d0;
}
