@import 'variables';
@import 'mixins';
@import 'animations';

.notes-popup {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    //align-items: flex-start;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
}

.modal {
    background: green;
    padding: 50px;
    //animation: showPopupAnimation .5s;
    min-width: 700px;
    position: relative;
    transition: 1s;
}

.show-popup {
    opacity: 1;
    visibility: visible;
    transition: 1s all;
    align-items: center;
    //animation: showPopupAnimation .5s;
    animation: change-content 1s forwards;
    //animation-fill-mode: forwards;
}

.hide-popup {
    transition: 0.5s;
    //animation: hidePopupAnimation 0.6s;
}

.close-modal {
    color: #4158d0;
}

.modal-header {
    color: #4158d0;
}
