@import 'variables';
@import 'mixins';
@import 'animations';

.notes-table {
    width: 100%;
    margin: 20px 0;

    @include desktop-up {
        width: 70%;
        margin: 20px auto;
    }

    .table {
        display: grid;
        width: 100%;

        .table-header {
            display: none;

            @include desktop-up {
                display: grid;
                font-size: 20px;
            }
        }

        .row {
            display: grid;
            margin: 15px;
            padding: 15px;
            border-radius: 15px;
            box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);

            &.head-row {
                display: none;

                @include desktop-up {
                    display: grid;
                }
            }

            &.editable {
                border-color: orangered;
            }

            div {
                .controls {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    justify-content: center;
                    margin: 10px 0 0;

                    .active-btn {
                        color: orangered;
                    }

                    @include desktop-up {
                        margin: 0;
                    }
                }

                &:not(.ctl) {
                    &:before {
                        content: attr(data-th) ': ';
                        font-weight: bold;
                        width: 6.5em;
                        display: inline-flex;

                        @include desktop-up {
                            display: none;
                        }
                    }

                    &.controls {
                        &:before {
                            content: none;
                        }
                    }

                    @include desktop-up {
                        padding: 5px;
                    }
                }

                &.skeleton {
                    background-color: #fff;
                    height: auto;
                    width: auto;
                    overflow: hidden;
                    margin: 12px;
                    box-shadow: 9px 17px 45px -29px rgba(0, 0, 0, 0.44);

                    &:before {
                        content: none;
                    }

                    .title {
                        display: block;
                        width: 100%;
                        padding: 8px;
                        font-size: 16px;
                        font-weight: 700;

                        @include desktop-up {
                            padding: 10px 8px;
                        }

                        &.loading {
                            border-radius: 15px;
                            overflow: hidden;
                        }
                    }

                    .loading {
                        position: relative;
                        background-color: #e2e2e2;
                        overflow: hidden;

                        &:after {
                            display: block;
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            transform: translateX(-100%);
                            background: -webkit-gradient(linear, left top,
                                    right top, from(transparent),
                                    color-stop(rgba(255, 255, 255, 0.2)),
                                    to(transparent));
                            background: linear-gradient(90deg, transparent,
                                    rgba(255, 255, 255, 0.5), transparent);
                            animation: loading 2s infinite;
                        }
                    }
                }
            }

            @include desktop-up {
                grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr 1fr;
                border-radius: 0;
                box-shadow: none;
                margin: 0;
                padding: 0;
                border-bottom: solid 1px rgb(229, 229, 229);

                .table-header {
                    color: #fff;
                    background: rgb(10, 49, 124);
                }
            }
        }
    }

    .table-container {
        display: flex;
        width: 100%;
        max-width: 95%;
        background: $white;
    }
}

